[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
DNS.5 = NUC1
DNS.6 = NUC2
DNS.7 = k8s-master-01
DNS.8 = k8s-master-02
DNS.9 = k8s-master-03
IP.1 = 10.3.0.1
IP.2 = 192.168.0.200
IP.3 = 192.168.0.201
IP.4 = 192.168.0.202
IP.5 = 192.168.0.203
IP.6 = 127.0.0.1
IP.7 = 192.168.1.1
IP.6 = 192.168.1.10