[Unit]
Description=K8s Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/opt/k8s/node/bin/kubelet \\
  --config=/opt/k8s/node/conf/kubelet-config.yaml \\
  --container-runtime=docker \\
  --kubeconfig=/opt/k8s/api-confs/kubeconfig/{{ inventory_hostname }}.authfile \\
  --register-node=true \\
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF