[Unit]
Description="Etcd database for k8s"
After=network.target
{% for server in servers %}
[Service]
TimeoutStartSec=0
ExecStart=/opt/k8s/etcd/bin/etcd --data-dir={{ etcd.datapath }} --name etcd-member01 \
      --initial-advertise-peer-urls http://{{ hostvars[server]['ansible_host'] }}:2380 --listen-peer-urls http://{{ hostvars[server]['ansible_host'] }}:2380 \
      --advertise-client-urls http://{{ hostvars[server]['ansible_host'] }}:2379 -listen-client-urls http://{{ hostvars[server]['ansible_host'] }}:2379 \
      --initial-cluster etcd-member01=http://{{ hostvars[server]['ansible_host'] }}:2380 \
      --initial-cluster-state {{ etcd.clusterstate }} --initial-cluster-token {{ etcd.token }} ETCDCTL_API=2
{% endfor %}
Restart=always
RestartSec=10s
LimitNOFILE=40000
[Install]
WantedBy=multi-user.target